= form_for collection do |f|
  .field.w60
    = f.label :name
    = f.text_field :name
  .field.w60
    = f.label :description
    = f.text_area :description, :rows => 3
  = f.button 'Save', :class => 'white'
