#settings
  = form_for collection, html: {style: "width: 960px;"}  do |f|
    :javascript
      $(document).ready(function(){ var select_icon = $('#select_icon');
        if(select_icon.val() == "")
          select_icon.val('default');
        $("#focus_icon").val(select_icon.val());
        $('.' + select_icon.val()).css({backgroundColor: '#D2D2D2', border: '1px solid #565656'});

        $("button").click(function(){
          if (this != $('.white')[0]){
            $('.' + $('#focus_icon').val()).css({backgroundColor: '#f5f5f5', border: '1px solid white'});
            this.style.backgroundColor =  "#D2D2D2";
            this.style.border =  "1px solid #565656";
            $("#focus_icon").val(this.classList["0"]);
          }else{
            $('#select_icon').val($("#focus_icon").val());
          }
        });
      });

    .field.w60
      = f.label :name, _("Name")
      = f.text_field :name, :readonly => !creation && (cannot? :update, collection)
      - if f.object.errors[:name].present?
        %label.error= "Name #{f.object.errors[:name].join(', ')}"
    .field.w60
      = f.label :description, _("Description")
      = f.text_area :description, rows: 3, :readonly =>  !creation && (cannot? :update, collection)

    .field.w60{class: collection.logo.blank? ? 'hidden-until-loaded' : nil}
      = label_tag "Logo"
      .logo-border
        %img#logo{src: collection.logo_url(:grayscale).blank? ? nil : collection.logo_url(:grayscale)}
      - if creation || can?(:update, collection)
        %button#logo-edit.farrow{type: 'button', onclick: "window.location = '#{collection_edit_logo_path(collection) rescue ''}'"} Adjust

    - if creation || can?(:update, collection)
      .field.w60
        = f.label :logo, _("Upload new logo")
        = f.file_field :logo, id: 'fileupload'

    .field.w60
      %label
        Icon
      = render 'icon_selector', :f => f
    .w60
    %br{clear: :all}

    - if (creation || can?(:update, collection))
      = f.button _('Save'), :class => 'white'
      = link_to _('Cancel'), collection, :class=> 'grey'
