.left.w40.h50
  <!-- ko if: !loadingSite() -->

  -# Collections
  <!-- ko if: !currentCollection() && !editingSite() -->
  .tableheader.w40
    %div{style: 'padding-top:6px;padding-left:15px'} My Collections
  .tablescroll
    %table.GralTable.CleanTable
      %tbody
        <!-- ko foreach: collections -->
        %tr
          %td
            %div
              = ko_check_box_tag :checked
              %span{ko(text: :name)}
            %button.farrow{ko(click: '$root.enterCollection'), type: :button}
        <!-- /ko -->
  .tablebottom{ko(click: '$root.createCollection'), style: 'cursor: pointer'}
    %button.cadd{type: "button"}
    %span.createCollection Create Collection
  <!-- /ko -->

  -# Sites template
  %script{type: "text/html", id: "map-sites-template"}
    <!-- ko foreach: sites -->
    %tr{ko(css: "{closed: group() && !expanded(), opened: group() && expanded, active: $data == $root.selectedSite()}")}
      %td
        %div
          <!-- ko if: group() -->
          %a{ko(click: '$root.toggleSite', style: {marginLeft: "'' + ((level() - 1) * 20) + 'px'"}), href: 'javascript:void(0)'}
            <!-- ko if: expanded() -->
            = image_tag "#{InsteddRails.url}/theme/images/icons/18/black/folder_open.png"
            <!-- /ko -->
            <!-- ko if: !expanded() -->
            = image_tag "#{InsteddRails.url}/theme/images/icons/18/black/folder.png"
            <!-- /ko -->
          %span{ko(text: :name, click: '$root.selectSite'), style: 'cursor: pointer'}
          <!-- /ko -->

          <!-- ko if: !group() -->
          %p{ko(style: {marginLeft: "'' + (10 + (level() - 1) * 20) + 'px'"}, click: '$root.selectSite'), style: 'cursor: pointer'}
            %span.stat-r
            %span{ko(html: :highlightedName)}
          <!-- /ko -->
        %button.farrow{ko(click: '$root.editSite'), type: "button"}
    <!-- ko if: expanded -->
    <!-- ko template: {name: 'map-sites-template', with: sites} -->
    <!-- /ko -->
    <!-- ko if: group() && hasMoreSites() && !loadingSites()-->
    %tr
      %td.loadmore
        = link_to "Load more sites...", 'javascript:void()', 'data-bind' => kov(click: :loadMoreSites, style: {marginLeft: "'' + (30 + (level() - 1) * 20) + 'px'"})
    <!-- /ko -->
    <!-- ko if: group() && hasMoreSites() && loadingSites()-->
    %tr
      %td.loadmore
        %span{ko(style: {marginLeft: "'' + (20 + (level() - 1) * 20) + 'px'"})} Loading...
    <!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->

  -# Collection sites
  <!-- ko if: !editingSite() -->
  <!-- ko with: currentCollection -->
  .tableheader.w40
    %button.pback{ko(click: '$root.goToRoot'), type: 'button'}
    %span.i18b-groupChat
    %span{ko(text: :name)}
    %button.fconfiguration.right{ko(click: '$root.editCollection'), type: 'button'}
  .tablescroll
    %table.GralTable.CleanTable
      %tbody
        <!-- ko template: {name: 'map-sites-template', with: $data} -->
        <!-- /ko -->
        <!-- ko if: hasMoreSites() && !loadingSites()-->
        %tr
          %td.loadmore
            = ko_link_to "Load more sites...", :loadMoreSites, style: 'margin-left: 23px'
        <!-- /ko -->
        <!-- ko if: hasMoreSites() && loadingSites()-->
        %tr
          %td.loadmore Loading...
        <!-- /ko -->
  .tablebottom
    Add
    %button.ffolder{ko(click: '$root.createGroup')} Group
    or
    %button.flocation{ko(click: '$root.createSite')} Site
    <!-- ko if: $root.parentSite() && $root.parentSite().level() != 0 -->
    at
    %span{ko(text: '$root.parentSite().name()')}
    <!-- /ko -->
  <!-- /ko -->
  <!-- /ko -->

  -# New Group form
  <!-- ko if: newGroup -->
  %form{ko(with: :newGroup, submit: '$root.saveSite'), method: :post, style: 'display:inline-block;width:100%'}
    .tableheader.w40
      %button.pback{ko(click: '$root.exitSite'), type: 'button'}
      %span.i18b-groupChat
      %span New Group
      <!-- ko if: $root.parentSite() && $root.parentSite().level() != 0  -->
      %span at
      %span{ko(text: '$root.parentSite().name()')}
      <!-- /ko -->
    .tablescroll
      %table
        %tbody
          %tr
            %td
              %div
                = label_tag :name, "Name:"
                = text_field_tag :name, '', placeholder: 'Enter new group name', 'data-bind' => kov(value: :name, valueUpdate: :afterkeydown, hasfocus: true)
              %div
                %label Mode:
                = select_tag :location_mode, options_for_select(['automatic', 'manual', 'none']), 'data-bind' => kov(value: :locationMode)
              %div{ko(visible: "locationMode() == 'manual'")}
                %label Location:
                = ko_text_field_tag :locationText, event: {keydown: :newLocationKeyPress, blur: :moveLocation}
    .tablebottom
      %button.grey{ko(enable: :valid), type: 'submit'} Done
      %span{ko(click: '$root.exitSite'), style: 'cursor:pointer'} Cancel
  <!-- /ko -->

  -# New Site or Edit Site form
  <!-- ko if: newOrEditSite -->
  %form{ko(with: :newOrEditSite, submit: '$root.saveSite'), method: :post, style: 'display:inline-block;width:100%'}
    .tableheader.w40
      %button.pback{ko(click: '$root.exitSite'), type: 'button'}
      %span.i18b-groupChat
      <!-- ko if: inEditMode() -->
      %span{ko(text: :name)}
      <!-- /ko -->
      <!-- ko if: !inEditMode() -->
      %span New Site
      <!-- /ko -->
      <!-- ko if: $root.parentSite() && $root.parentSite().level() != 0 && !inEditMode() -->
      %span at
      %span{ko(text: '$root.parentSite().name()')}
      <!-- /ko -->
    .tablescroll
      %table
        %tbody
          %tr
            %td
              %div
                = label_tag :name, "Name:"
                = text_field_tag :name, '', placeholder: 'Enter new site name', 'data-bind' => kov(value: :name, valueUpdate: :afterkeydown, hasfocus: true, event: {blur: :tryGeolocateName})
              %div
                %label Location:
                = ko_text_field_tag :locationText, event: {keydown: :newLocationKeyPress, blur: :moveLocation}
              <!-- ko foreach: $root.currentCollection().layers() -->
              %div
                %img{ko(attr: {src: "'#{InsteddRails.url}/theme/images/icons/misc/grey/arrow' + (expanded() ? 'Down' : 'Right') + '.png'"}, click: :toggleExpand), style: "position:relative;top:1px;cursor:pointer", width: 11, height: 11}
                %span{ko(text: :name, click: :toggleExpand), style: 'font-weight:bold;color:grey;cursor:pointer'}
              <!-- ko if: expanded() -->
              <!-- ko foreach: fields() -->
              %div
                = label_tag '', '', ko(attr: {:for => :code}, text: "name() + ':'")
                <!-- ko if: kind() == 'text' -->
                = ko_text_field_tag :value
                <!-- /ko -->
                <!-- ko if: kind() == 'numeric' -->
                = ko_number_field_tag :value
                = ko_link_to_root '?', :showPopupWithMaxValueOfProperty, style: 'text-decoration:underline', tabindex: -1
                <!-- /ko -->
                <!-- ko if: kind() == 'select_one' -->
                %select{ko(value: :value, options: :optionsCodes, optionsText: 'function(o){return $data.labelFor(o)}')}
                <!-- /ko -->
                <!-- ko if: kind() == 'select_many' -->
                %ul.superblyTagItems{ko(foreach: :value)}
                  %li.superblyTagItem{ko(click: '$parent.removeOption')}
                    %span{ko(text: '$parent.labelFor($data)')}
                    %a x
                <!-- ko if: !expanded() -->
                %span{ko(click: :expand), style: 'text-decoration:underline;cursor:pointer'} Add more...
                <!-- /ko -->
                .superblyTagfieldClearer
                <!-- ko if: expanded() -->
                %input{ko(value: :filter, valueUpdate: :afterkeydown, hasfocus: true, event: {keydown: :filterKeyDown}), type: :text, style: 'width:220px'}
                %ul.taglist{ko(foreach: :remainingOptions), style: 'margin-right:60px;margin-top:2px'}
                  %li{ko(attr: {style: 'selected() ? "background-color:#DADAEA" : ""'})}
                    %a{ko(text: :label, click: '$parent.selectOption')}
                <!-- /ko -->
                <!-- /ko -->
              <!-- /ko -->
              <!-- /ko -->
              <!-- /ko -->
    .tablebottom
      %button.grey{ko(enable: :valid), type: 'submit'} Done
      %span{ko(click: '$root.exitSite'), style: 'cursor:pointer'} Cancel
  <!-- /ko -->

  -# Show Group form
  <!-- ko if: showGroup -->
  %form{ko(with: :showGroup, submit: '$root.saveSite'), method: :post, style: 'display:inline;width:100%'}
    .tableheader.w40
      %button.pback{ko(click: '$root.exitSite'), type: 'button'}
      %span.i18b-groupChat
      %span{ko(text: :name)}
    .tablescroll
      %table
        %tbody
          %tr
            %td
              %div
                %label Name:
                %span{ko(text: :name, visible: '!editingName()', click: 'editName'), style: 'cursor: pointer'}
                <!-- ko if: editingName() -->
                = ko_text_field_tag :name, visible: 'editingName()', hasfocus: true, event: {keydown: :nameKeyPress, blur: :saveName}
                <!-- /ko -->
              %div
                %label Mode:
                %span{ko(text: :locationMode, click: 'editLocationMode', visible: '!editingLocationMode()'), style: 'cursor: pointer'}
                = select_tag :location_mode, options_for_select(['automatic', 'manual', 'none']), 'data-bind' => kov(value: :locationMode, visible: :editingLocationMode, hasfocus: true, event: {change: :saveLocationMode, blur: :saveLocationMode})
              %div{ko(visible: "locationMode() == 'manual'")}
                %label Location:
                %span{ko(text: :locationText, visible: '!editingLocation()', click: 'editLocation'), style: 'cursor: pointer'}
                <!-- ko if: editingLocation() -->
                = ko_text_field_tag :locationText, visible: :editingLocation, hasfocus: true, event: {keydown: :locationKeyPress, blur: :saveLocation}
                <!-- /ko -->
    .tablebottom
      = link_to 'Delete Group', 'javascript:void()', class: 'icon fdelete black', 'data-bind' => kov(click: '$root.deleteSite')
  <!-- /ko -->

  -# Show Site form
  <!-- ko if: showSite -->
  %form{ko(with: :showSite, submit: '$root.saveSite'), method: :post, style: 'display:inline;width:100%'}
    .tableheader.w40
      %button.pback{ko(click: '$root.exitSite'), type: 'button'}
      %span.i18b-groupChat
      %span{ko(text: :name)}
    .tablescroll
      %table{style: 'width:100%'}
        %tbody
          %tr
            %td
              %div{style: 'margin-bottom:14px'}
                %label Name:
                %span.value{ko(text: :name, visible: '!editingName()', click: 'editName'), style: 'cursor: pointer'}
                <!-- ko if: editingName() -->
                = ko_text_field_tag :name, visible: 'editingName()', hasfocus: true, event: {keydown: :nameKeyPress, blur: :saveName}
                <!-- /ko -->
              %div{style: 'margin-bottom:14px'}
                %label Location:
                %span.value{ko(text: :locationText, visible: '!editingLocation()', click: 'editLocation'), style: 'cursor: pointer'}
                <!-- ko if: editingLocation() -->
                = ko_text_field_tag :locationText, visible: :editingLocation, hasfocus: true, event: {keydown: :locationKeyPress, blur: :saveLocation}
                <!-- /ko -->
              <!-- ko foreach: parentCollection().layers() -->
              %div.coldiv{ko(css: {coldiv: '!expanded()', expdiv: 'expanded()'}), style: 'margin-top:24px;margin-bottom:14px'}
                %span{ko(text: :name, click: :toggleExpand), style: 'font-weight:bold;color:grey;cursor:pointer'}
              <!-- ko if: expanded() -->
              <!-- ko foreach: fields() -->
              %div{style: 'margin-bottom:14px'}
                %label{ko(text: "name() + ':'")}
                <!-- ko if: hasValue() -->
                <!-- ko if: writeable() -->
                %span.value{ko(text: :valueUI, visible: '!editing()', click: 'edit'), style: 'cursor:pointer'}
                <!-- /ko -->
                <!-- ko if: !writeable() -->
                %span.value{ko(text: :valueUI)}
                <!-- /ko -->
                <!-- ko if: !editing() && kind() == 'numeric' -->
                = ko_link_to_root '?', :showPopupWithMaxValueOfProperty, style: 'text-decoration:underline', tabindex: -1
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: !hasValue() -->
                <!-- ko if: writeable() -->
                %span.value{ko(visible: '!editing()', click: 'edit'), style: 'color:grey;cursor:pointer'} (no value)
                <!-- /ko -->
                <!-- ko if: !writeable() -->
                %span.value{style: 'color:grey'} (no value)
                <!-- /ko -->
                <!-- ko if: !editing() && kind() == 'numeric' -->
                = ko_link_to_root '?', :showPopupWithMaxValueOfProperty, style: 'text-decoration:underline', tabindex: -1
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: editing() && kind() == 'text' -->
                = ko_text_field_tag :value, hasfocus: true, event: {keydown: :keyPress, blur: :save}
                <!-- /ko -->
                <!-- ko if: editing() && kind() == 'numeric' -->
                = ko_number_field_tag :value, hasfocus: true, event: {keydown: :keyPress, blur: :save}
                <!-- /ko -->
                <!-- ko if: editing() && kind() == 'select_one' -->
                %select{ko(value: :value, options: :optionsCodes, optionsText: 'function(o){return $data.labelFor(o)}', hasfocus: true, event: {change: :save, blur: :save})}
                <!-- /ko -->
                <!-- ko if: editing() && kind() == 'select_many' -->
                %ul.superblyTagItems{ko(foreach: :value)}
                  %li.superblyTagItem{ko(click: '$parent.removeOption')}
                    %span{ko(text: '$parent.labelFor($data)')}
                    %a x
                .superblyTagfieldClearer
                %input{ko(value: :filter, valueUpdate: :afterkeydown, hasfocus: true, event: {keydown: :filterKeyDown}), type: :text, style: 'width:220px'}
                %ul.taglist{ko(foreach: :remainingOptions), style: 'margin-right:40px;margin-top:2px'}
                  %li{ko(attr: {style: 'selected() ? "background-color:#DADAEA" : ""'})}
                    %a{ko(text: :label, click: '$parent.selectOption')}
                %button{ko(click: :save), style: 'float:right'} Update options
                %button{ko(click: :exit), style: 'float:right'} Cancel
                <!-- /ko -->
              <!-- /ko -->
              <!-- /ko -->
              <!-- /ko -->
    .tablebottom
      = link_to 'Edit Site', 'javascript:void()', class: 'icon fedit black', 'data-bind' => kov(click: 'startEditMode')
      = link_to 'Delete Site', 'javascript:void()', class: 'icon fdelete black', 'data-bind' => kov(click: '$root.deleteSite')
  <!-- /ko -->
  <!-- /ko -->

  -# Loading Site...
  %form{ko(visible: :loadingSite)}
    .tableheader.w40
      %button.pback
      %span.i18b-groupChat
      %span Loading...
#right-panel.right
  .mapheader
    <!-- ko if: $root.currentCollection() -->
    .greyback
      %span{style: 'margin:0;padding:2px;display:inline-block'}
        Export this result in
        %span{ko(click: :exportInRSS), style: 'text-decoration:underline;cursor:pointer;margin:0'} RSS
        or
        %span{ko(click: :exportInJSON), style: 'text-decoration:underline;cursor:pointer;margin:0'} JSON
    <!-- /ko -->
    %span{ko(text: :sitesCountText)}
    -#%span.alert 5 alerts
    %button.icon_button.ftable.right{ko(click: '$root.showTable', css: {active: "!$root.showingMap()"})}
    %button.icon_button.fmap.right{ko(click: '$root.showMap', css: {active: "$root.showingMap()"})}
    %br{clear: :all}
  #map
