<!-- ko if: !currentCollection() && !editingSite() -->
-# Collections
.tableheader.expanded
  %span My Collections
  .mapheader.w60.right
    %button.icon_button.ftable.right{ko(click: '$root.showTable', css: "{active: !$root.showingMap()}")}
    %button.icon_button.fmap.right{ko(click: '$root.showMap', css: "{active: $root.showingMap()}")}
    %br{clear: "all"}
.tablescroll
  %table.GralTable
    %thead
      %tr
        %th.w32{style: 'min-width:318px;max-width:318px;overflow:auto'} Collection
        %th{style: 'width:100%'} Last update
        %th
    %tbody
      <!-- ko foreach: collections -->
      %tr
        %td{ko(text: :name)}
        %td.l.timeago{ko(attr: {title: :updatedAt}, text: :updatedAtTimeago)}
        %td.l
          %button.farrow{ko(click: '$root.enterCollection'), type: :button}
      <!-- /ko -->
.tablebottom{ko(click: '$root.createCollection'), style: 'cursor: pointer'}
  %button.cadd{type: "button"}
  Create Collection
<!-- /ko -->

-# Sites template
%script{type: "text/html", id: "table-sites-template"}
  <!-- ko foreach: sites -->
  %tr{ko(css: "{closed: group() && !expanded(), opened: group() && expanded, active: $data == $root.selectedSite()}")}
    %td{style: 'min-width:318px;max-width:318px;overflow:auto'}
      %div
        <!-- ko if: group() -->
        %a{ko(click: '$root.toggleSite', style: {marginLeft: "'' + ((level() - 1) * 20) + 'px'"}), href: 'javascript:void(0)'}
          <!-- ko if: expanded() -->
          = image_tag "#{InsteddRails.url}/theme/images/icons/18/black/folder_open.png"
          <!-- /ko -->
          <!-- ko if: !expanded() -->
          = image_tag "#{InsteddRails.url}/theme/images/icons/18/black/folder.png"
          <!-- /ko -->
        %span{ko(text: :name, click: '$root.selectSite'), style: 'cursor: pointer'}
        <!-- /ko -->

        <!-- ko if: !group() -->
        %p{ko(style: {marginLeft: "'' + (10 + (level() - 1) * 20) + 'px'"}, click: '$root.selectSite'), style: 'cursor: pointer'}
          %span.stat-r
          %span{ko(html: :highlightedName)}
        <!-- /ko -->
    <!-- ko foreach: $root.currentCollection().fields() -->
    <!-- ko if: $parent.properties()[$data.code()] -->
    %td.l
      %span{ko(html: "$parent.highlightedPropertyValue($data)"), style: 'vertical-align:top'}
      <!-- ko if: kind() == 'numeric' -->
      = ko_link_to_root '?', :showPopupWithMaxValueOfProperty, style: 'text-decoration:underline'
      <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: !$parent.properties()[$data.code()] -->
    %td.l
    <!-- /ko -->
    <!-- /ko -->
    %td.l.timeago{ko(attr: "{title: updatedAt}", text: :updatedAtTimeago)}
    %td.l
      %button.farrow{ko(click: '$root.editSite'), type: :button}
  <!-- ko if: expanded -->
  <!-- ko template: {name: 'table-sites-template', with: sites} -->
  <!-- /ko -->
  <!-- ko if: group() && hasMoreSites() && !loadingSites()-->
  %tr
    %td.loadmore
      = link_to "Load more sites...", 'javascript:void()', 'data-bind' => kov(click: :loadMoreSites, style: {marginLeft: "'' + (30 + (level() - 1) * 20) + 'px'"})
    %td
  <!-- /ko -->
  <!-- ko if: group() && hasMoreSites() && loadingSites()-->
  %tr
    %td.loadmore
      %span{ko(style: {marginLeft: "'' + (20 + (level() - 1) * 20) + 'px'"})} Loading...
  <!-- /ko -->
  <!-- /ko -->
  <!-- /ko -->

-# Collection sites
<!-- ko if: !editingSite() -->
<!-- ko with: currentCollection -->
.tableheader.expanded
  %div
    %button.fleft{ko(click: '$root.goToRoot'), type: 'button'}
    %span.i18b-groupChat
    %span{ko(text: :name)}
    %button.fconfiguration.right{ko(click: '$root.editCollection'), type: 'button'}
  .mapheader.w60.right
    %button.icon_button.ftable.right{ko(click: '$root.showTable', css: {active: "!$root.showingMap()"})}
    %button.icon_button.fmap.right{ko(click: '$root.showMap', css: {active: "$root.showingMap()"})}
    %br{clear: "all"}
.tablescroll
  %table.GralTable
    %thead
      %tr
        %th.w32{style: 'min-width:318px;max-width:318px;overflow:auto'} Site
        <!-- ko foreach: $root.currentCollection().fields() -->
        %th{ko(text: :name, style: {maxWidth: 'suggestedWidth()', minWidth: 'suggestedWidth()'}), style: 'overflow:hidden'}
        <!-- /ko -->
        %th{style: 'width:100%;min-width:100px'} Last update
        %th
    %tbody
      <!-- ko template: {name: 'table-sites-template', with: $data} -->
      <!-- /ko -->
.tablebottom
  Add
  %button.ffolder{ko(click: '$root.createGroup')} Group
  or
  %button.flocation{ko(click: '$root.createSite')} Site
  <!-- ko if: $root.parentSite() && $root.parentSite().level() != 0 -->
  at
  %span{ko(text: '$root.parentSite().name()')}
  <!-- /ko -->
  <!-- ko if: hasMoreSites() && !loadingSites()-->
  %span.loadmore
    = ko_link_to "Load more sites...", :loadMoreSites
  <!-- /ko -->
  <!-- ko if: hasMoreSites() && loadingSites()-->
  %span.loadmore Loading...
  <!-- /ko -->
<!-- /ko -->
<!-- /ko -->
