%ul.tabs.top
  = tab "Overview", collection_path(collection)
  = tab "Members", collection_members_path(collection)
  = tab "Layers", collection_layers_path(collection)
  = tab "Thresholds", collection_thresholds_path(collection)
  = tab "Reminders", collection_reminders_path(collection)
  = tab "Import Wizard", collection_import_wizard_path(collection)
  = tab "Settings", collection_settings_path(collection)
