%h1= collection.name
- if collection.description.present?
  %p{style: 'font-size:12px'}= collection.description

%ul.tabs.top
  = tab "Overview", collection_path(collection)
  = tab "Members", collection_members_path(collection)
  = tab "Layers", collection_layers_path(collection)
  -#= tab "Thresholds", collection_thresholds_path(collection)
  -#= tab "Reminders", collection_reminders_path(collection)
  = tab "Bulk update", collection_bulk_update_path(collection)
  = tab "Settings", collection_settings_path(collection)
