%h2 Select logo from uploaded image

#settings
  = form_for collection do |f|

    = image_tag collection.logo_url(:croppable), id: 'cropbox'

    #logo-preview
      %span.preview Preview
      #preview-container
        = image_tag collection.logo_url(:preview), id: 'preview'

    - %w(x y w h).each do |attr|
      = f.hidden_field "crop_#{attr}"

    = f.button 'Save', class: 'white'
