- content_for :head do
  = google_maps_javascript_include_tag
  = javascript_include_tag "http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"
  :javascript
    $(function() { initCollections(); });

%h1 Collections

#collections-dummy{:style => 'height:600px'}
#collections-main.box.nopadd.h50{:style => 'display:none'}
  .left.w33.h50

    -# Collections
    <!-- ko if: !currentCollection() && !editingSite() -->
    .tableheader.w33
      My Collections
    .tablescroll
      %table.GralTable.CleanTable
        %tbody
          <!-- ko foreach: collections -->
          %tr
            %td
              %div
                = ko_check_box_tag :checked
                %span{ko(:text => :name)}
              %button.farrow{ko(:click => '$root.enterCollection'), :type => :button}
          <!-- /ko -->
    .tablebottom{ko(:click => '$root.createCollection'), :style => 'cursor: pointer'}
      %button.cadd{:type => "button"}
      Create Collection
    <!-- /ko -->

    -# Sites template
    %script{:type => "text/html", :id => "sites-template"}
      <!-- ko foreach: sites -->
      %tr{ko(:css => "{closed: group() && !expanded(), opened: group() && expanded}")}
        %td
          %div
            <!-- ko if: group() -->
            %a{ko(:click => '$root.toggleSite', :style => "{marginLeft: '' + ((level() - 1) * 20) + 'px'}"), :href => 'javascript:void(0)'}
              <!-- ko if: expanded() -->
              = image_tag "http://theme.instedd.org/theme/images/icons/18/black/folder_open.png"
              <!-- /ko -->
              <!-- ko if: !expanded() -->
              = image_tag "http://theme.instedd.org/theme/images/icons/18/black/folder.png"
              <!-- /ko -->
            %span{ko(:text => :name, :css => "{selected: $data == $root.selectedSite()}", :click => '$root.selectSite'), :style => 'cursor: pointer'}
            <!-- /ko -->

            <!-- ko if: !group() -->
            %p{ko(:style => "{marginLeft: '' + (10 + (level() - 1) * 20) + 'px'}", :css => "{selected: $data == $root.selectedSite()}", :click => '$root.selectSite'), :style => 'cursor: pointer'}
              %span.stat-r
              %span{ko(:text => :name)}
            <!-- /ko -->
          %button.farrow{ko(:click => '$root.editSite'), :type => "button"}
      <!-- ko if: expanded -->
      <!-- ko template: {name: 'sites-template', with: sites} -->
      <!-- /ko -->
      <!-- ko if: group() && hasMoreSites() && !loadingSites()-->
      %tr
        %td
          = link_to "Load more sites...", 'javascript:void()', 'data-bind' => kov(:click => :loadMoreSites, :style => "{marginLeft: '' + (30 + (level() - 1) * 20) + 'px'}")
      <!-- /ko -->
      <!-- ko if: group() && hasMoreSites() && loadingSites()-->
      %tr
        %td
          %span{ko(:style => "{marginLeft: '' + (20 + (level() - 1) * 20) + 'px'}")} Loading...
      <!-- /ko -->
      <!-- /ko -->
      <!-- /ko -->

    -# Collection sites
    <!-- ko if: !editingSite() -->
    <!-- ko with: currentCollection -->
    .tableheader.w33
      %button.fleft{ko(:click => '$root.goToRoot'), :type => 'button'}
      %span.i18b-groupChat
      %span{ko(:text => :name)}
      %button.fconfiguration.right{ko(:click => '$root.editCollection'), :type => 'button'}
    .tablescroll
      %table.GralTable.CleanTable
        %tbody
          <!-- ko template: {name: 'sites-template', with: $data} -->
          <!-- /ko -->
          <!-- ko if: hasMoreSites() && !loadingSites()-->
          %tr
            %td
              = ko_link_to "Load more sites...", :loadMoreSites, :style => 'margin-left: 10px'
          <!-- /ko -->
          <!-- ko if: hasMoreSites() && loadingSites()-->
          %tr
            %td
              Loading...
          <!-- /ko -->
    .tablebottom
      <!-- ko if: !$root.selectedSite() || $root.selectedSite().group() -->
      Add
      %button.ffolder{ko(:click => '$root.createGroup')} Group
      or
      %button.flocation{ko(:click => '$root.createSite')} Site
      <!-- ko if: $root.selectedSite() -->
      at
      %span{ko(:text => '$root.selectedSite().name()')}
      <!-- /ko -->
      <!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->

    -# New Group form
    %form{ko(:with => :newGroup, :submit => '$root.saveSite', :attr => "{'action': '#' + ($root.currentCollection() ? $root.currentCollection().id() : '')}"), :style => 'display:inline'}
      .tableheader.w33
        %button.fleft{ko(:click => '$root.exitSite'), :type => 'button'}
        %span.i18b-groupChat
        %span New Group
        <!-- ko if: $root.selectedSite() && !id() -->
        %span at
        %span{ko(:text => '$root.selectedSite().name()')}
        <!-- /ko -->
      .tablescroll
        %table.GralTable.CleanTable
          %tbody
            %tr
              %td
                %p
                  = label_tag :name
                  \:
                  = text_field_tag :name, '', :placeholder => 'Enter new group name', 'data-bind' => kov(:value => :name, :hasfocus => true)
                %p
                  Mode:
                  = select_tag :location_mode, options_for_select(['automatic', 'manual', 'none']), 'data-bind' => kov(:value => :locationMode)
                %p{ko(:if => "locationMode() == 'manual'")}
                  %span Location:
                  = ko_text_field_tag :locationText, :event => '{keydown: $root.newSiteLocationKeyPress, blur: $root.moveSiteLocation}'
      .tablebottom
        %button.grey{:type => 'submit'} Done
        %span{ko(:click => '$root.exitSite')} Cancel

    -# New Site form
    %form{ko(:with => :newSite, :submit => '$root.saveSite', :attr => "{'action': '#' + ($root.currentCollection() ? $root.currentCollection().id() : '')}"), :style => 'display:inline'}
      .tableheader.w33
        %button.fleft{ko(:click => '$root.exitSite'), :type => 'button'}
        %span.i18b-groupChat
        %span New Site
        <!-- ko if: $root.selectedSite() && !id() -->
        %span at
        %span{ko(:text => '$root.selectedSite().name()')}
        <!-- /ko -->
      .tablescroll
        %table.GralTable.CleanTable
          %tbody
            %tr
              %td
                %p
                  = label_tag :name
                  \:
                  = text_field_tag :name, '', :placeholder => 'Enter new site name', 'data-bind' => kov(:value => :name, :hasfocus => true)
                %p
                  %span Location:
                  = ko_text_field_tag :locationText, :event => '{keydown: $root.newSiteLocationKeyPress, blur: $root.moveSiteLocation}'
                %hr
                <!-- ko foreach: $root.currentCollection().fields() -->
                %p
                  = label_tag '', '', ko(:attr => "{'for': code}", :text => :name)
                  \:
                  = ko_text_field_tag :value
                <!-- /ko -->
      .tablebottom
        %button.grey{:type => 'submit'} Done
        %span{ko(:click => '$root.exitSite')} Cancel

    -# Show Group form
    %form{ko(:with => :showGroup, :submit => '$root.saveSite', :attr => "{'action': '#' + ($root.currentCollection() ? $root.currentCollection().id() : '')}"), :style => 'display:inline'}
      .tableheader.w33
        %button.fleft{ko(:click => '$root.exitSite'), :type => 'button'}
        %span.i18b-groupChat
        %span{ko(:text => :name)}
      .tablescroll
        %table.GralTable.CleanTable
          %tbody
            %tr
              %td
                %p
                  %span Name:
                  %span{ko(:text => :name, :visible => '!editingName()', :click => '$root.editSiteName'), :style => 'cursor: pointer'}
                  <!-- ko if: editingName() -->
                  = ko_text_field_tag :name, :visible => 'editingName()', :hasfocus => true, :event => '{keydown: $root.siteNameKeyPress, blur: $root.exitSiteName}'
                  <!-- /ko -->
                %p
                  %span Mode:
                  %span{ko(:text => :locationMode, :click => '$root.editSiteLocationMode', :visible => '!editingLocationMode()'), :style => 'cursor: pointer'}
                  = select_tag :location_mode, options_for_select(['automatic', 'manual', 'none']), 'data-bind' => kov(:value => :locationMode, :visible => :editingLocationMode, :hasfocus => true, :event => '{change: $root.saveSiteLocationMode, blur: $root.exitSiteLocationMode}')
                %p{ko(:visible => "locationMode() == 'manual'")}
                  %span Location:
                  %span{ko(:text => :locationText, :visible => '!editingLocation()', :click => '$root.editSiteLocation'), :style => 'cursor: pointer'}
                  <!-- ko if: editingLocation() -->
                  = ko_text_field_tag :locationText, :visible => :editingLocation, :hasfocus => true, :event => '{keydown: $root.siteLocationKeyPress, blur: $root.exitSiteLocation}'
                  <!-- /ko -->

    -# Show Site form
    %form{ko(:with => :showSite, :submit => '$root.saveSite', :attr => "{'action': '#' + ($root.currentCollection() ? $root.currentCollection().id() : '')}"), :style => 'display:inline'}
      .tableheader.w33
        %button.fleft{ko(:click => '$root.exitSite'), :type => 'button'}
        %span.i18b-groupChat
        %span{ko(:text => :name)}
      .tablescroll
        %table.GralTable.CleanTable
          %tbody
            %tr
              %td
                %p
                  %span Name:
                  %span{ko(:text => :name, :visible => '!editingName()', :click => '$root.editSiteName'), :style => 'cursor: pointer'}
                  <!-- ko if: editingName() -->
                  = ko_text_field_tag :name, :visible => 'editingName()', :hasfocus => true, :event => '{keydown: $root.siteNameKeyPress, blur: $root.exitSiteName}'
                  <!-- /ko -->
                %p
                  %span Location:
                  %span{ko(:text => :locationText, :visible => '!editingLocation()', :click => '$root.editSiteLocation'), :style => 'cursor: pointer'}
                  <!-- ko if: editingLocation() -->
                  = ko_text_field_tag :locationText, :visible => :editingLocation, :hasfocus => true, :event => '{keydown: $root.siteLocationKeyPress, blur: $root.exitSiteLocation}'
                  <!-- /ko -->
                %hr
                <!-- ko foreach: $root.currentCollection().fields() -->
                %p
                  %span{ko(:text => "name() + ':'")}
                  %span{ko(:text => :valueUI, :visible => '!editing()', :click => '$root.editFieldValue'), :style => 'cursor:pointer'}
                  = ko_text_field_tag :value, :visible => 'editing()', :hasfocus => true, :event => '{keydown: $root.fieldKeyPress, blur: $root.exitField}'
                <!-- /ko -->
  .right
    #map{:style => 'width: 628px; height: 500px'}
  .clear
