- content_for :head do
  :javascript
    $(function() { initCollections(#{collections.to_json}); });

.left
  .tablewrapp.w33

    -# Collections
    %table.GralTable.CleanTable{ko(:visible => 'root')}
      %tr
        %th
          My Collections
          %select.w15.right{:name => "d"}
            %option{:value => "1"} Show all
      <!-- ko foreach: collections -->
      %tr
        %td
          %button.faccept{ko(:text => :name), :type => "button"}
          %button.farrow.right{ko(:click => '$root.enterCollection')}
      <!-- /ko -->
      %tr
        %td.add{ko(:click => '$root.enterCreateCollection')}
          Create Collection
          %button.cadd.right{:type => "button"}

    -# Sites template
    %script{:type => "text/html", :id => "sites-template"}
      %ul{ko(:foreach => :sites)}
        %li
          %span{ko(:visible => '!expanded()', :click => :expand)} [+]
          %span{ko(:visible => :expanded, :click => :collapse)} [-]
          %span{ko(:text => :name)}
        %div{ko(:template => "{name: 'sites-template', with: sites}", :visible => :expanded)}
        %ul{ko(:visible => 'expanded')}
          %li= knockout_link 'Create new folder', 'enterCreateFolder'

    -# Collection sites
    %div{ko(:with => :selectedCollection)}
      %span{ko(:text => :name)}
      = knockout_link 'up', 'enterRoot'
      %div{ko(:template => "{name: 'sites-template', with: $root.selectedCollection}")}
      = knockout_link 'Create new folder', 'enterCreateFolder'

    -# Create collection folder
    %div{ko(:with => :creatingCollectionFolder)}
      %div
        Create new folder inside
        %span{ko(:text => :name)}
        = knockout_link 'back', 'exitCreateFolder'
      %div{ko(:with => '$root.creatingCollectionFolderSite')}
        Inside
        %span{ko(:text => :name)}
      %form{ko(:submit => '$root.createFolder'), :action => '#'}
        %p
          = label_tag :name
          %br/
          = text_field_tag :name, '', :placeholder => 'Enter new folder name', 'data-bind' => kov(:value => '$root.newFolderName')
        %p
          = submit_tag 'Create'

.right
  .tablewrapp.w60
