- content_for :head do
  = google_maps_javascript_include_tag
  = javascript_include_tag "http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"
  :javascript
    $(function() { initCollections(#{collections.to_json}); });

%h1 Collections
.box.nopadd.h50
  .left.w33.h50

    -# Collections
    <!-- ko if: !currentCollection() && !currentSite() -->
    .tableheader.w33
      My Collections
    .tablescroll
      %table.GralTable.CleanTable
        %tbody
          <!-- ko foreach: collections -->
          %tr
            %td
              %div
                = ko_check_box_tag :checked
                %span{ko(:text => :name)}
              %button.farrow{ko(:click => '$root.enterCollection'), :type => :button}
          <!-- /ko -->
    .tablebottom{ko(:click => '$root.createCollection'), :style => 'cursor: pointer'}
      %button.cadd{:type => "button"}
      Create Collection
    <!-- /ko -->

    -# Sites template
    %script{:type => "text/html", :id => "sites-template"}
      <!-- ko foreach: sites -->
      %tr{ko(:css => "{closed: group() && !expanded(), opened: group() && expanded}")}
        %td
          %div
            <!-- ko if: group() -->
            %span{ko(:text => :name, :style => "{marginLeft: '' + (10 + (level() - 1) * 20) + 'px'}", :css => "{selected: $data == $root.selectedSite()}", :click => '$root.selectSite')}
            <!-- /ko -->

            <!-- ko if: !group() -->
            %p{ko(:style => "{marginLeft: '' + (10 + (level() - 1) * 20) + 'px'}", :css => "{selected: $data == $root.selectedSite()}", :click => '$root.selectSite'), :style => 'cursor: pointer'}
              %span.statR
              %span{ko(:text => :name)}
            <!-- /ko -->
          %button.farrow{ko(:click => '$root.editSite'), :type => "button"}
      <!-- ko if: expanded -->
      <!-- ko template: {name: 'sites-template', with: sites} -->
      <!-- /ko -->
      <!-- ko if: group() && hasMoreSites() && !loadingSites()-->
      %tr
        %td
          = link_to "Load more sites...", 'javascript:void()', 'data-bind' => kov(:click => :loadMoreSites, :style => "{marginLeft: '' + (30 + (level() - 1) * 20) + 'px'}")
      <!-- /ko -->
      <!-- ko if: group() && hasMoreSites() && loadingSites()-->
      %tr
        %td
          Loading...
      <!-- /ko -->
      <!-- /ko -->
      <!-- /ko -->

    -# Collection sites
    <!-- ko if: !currentSite() -->
    <!-- ko with: currentCollection -->
    .tableheader.w33
      %button.fleft{ko(:click => '$root.goToRoot'), :type => 'button'}
      %span.i18b-groupChat
      %span{ko(:text => :name)}
      %button.fconfiguration.right{ko(:click => '$root.editCollection'), :type => 'button'}
    .tablescroll
      %table.GralTable.CleanTable
        %tbody
          <!-- ko template: {name: 'sites-template', with: $data} -->
          <!-- /ko -->
          <!-- ko if: hasMoreSites() && !loadingSites()-->
          %tr
            %td
              = ko_link_to "Load more sites...", :loadMoreSites, :style => 'margin-left: 10px'
          <!-- /ko -->
          <!-- ko if: hasMoreSites() && loadingSites()-->
          %tr
            %td
              Loading...
          <!-- /ko -->
    .tablebottom
      <!-- ko if: !$root.selectedSite() || $root.selectedSite().group() -->
      Add
      %button.ffolder{ko(:click => '$root.createGroup')} Group
      or
      %button.flocation{ko(:click => '$root.createSite')} Site
      <!-- ko if: $root.selectedSite() -->
      at
      %span{ko(:text => '$root.selectedSite().name()')}
      <!-- /ko -->
      <!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->

    -# Group/Site form
    %form{ko(:with => :currentSite, :submit => '$root.saveSite', :attr => "{'action': '#' + ($root.currentCollection() ? $root.currentCollection().id() : '')}"), :style => 'display:inline'}
      .tableheader.w33
        %button.fleft{ko(:click => '$root.exitSite'), :type => 'button'}
        %span.i18b-groupChat
        %span{ko(:visible => 'group() && !id()')} New Group
        %span{ko(:visible => 'group() && id()')} Edit Group
        %span{ko(:visible => '!group() && !id()')} New Site
        %span{ko(:visible => '!group() && id()')} Edit Site
      .tablescroll
        %table.GralTable.CleanTable
          %tbody
            %tr
              %td
                %p
                  = label_tag :name
                  %br/
                  = text_field_tag :name, '', :placeholder => 'Enter new group name', 'data-bind' => kov(:value => :name, :visible => :group, :hasfocus => :hasFocus)
                  = text_field_tag :name, '', :placeholder => 'Enter new site name', 'data-bind' => kov(:value => :name, :visible => '!group()', :hasfocus => :hasFocus)
                <!-- ko if: !group() -->
                %p
                  %span{ko(:text => "'Position: ' + (Math.round(lat() * 100000) / 100000) + ', ' + (Math.round(lng() * 100000) / 100000)")}
                <!-- ko foreach: $root.currentCollection().fields() -->
                %p
                  = label_tag '', '', ko(:attr => "{'for': code}", :text => :name)
                  %br/
                  = ko_text_field_tag :value
                <!-- /ko -->
                <!-- /ko -->
      .tablebottom
        %button.grey{:type => 'submit'} Done
        %span{ko(:click => '$root.exitSite')} Cancel
  .right
    #map{:style => 'width: 628px; height: 500px'}
  .clear
