- content_for :head do
  = google_maps_javascript_include_tag
  :javascript
    $(function() { initCollections(); });

<!-- ko if: currentCollection() -->
.right
  %form{ko(submit: 'performSearch', attr: {action: 'formAction()'})}
    <!-- ko if: lastSearch() -->
    %p{style: 'display:inline'}
      = ko_link_to 'clear search', :clearSearch
    <!-- /ko -->
    = ko_text_field_tag :search
    %input{type: :submit, value: 'Search'}
<!-- /ko -->

%h1 Collections

#collections-dummy{style: 'height:600px'}
#collections-main.box.nopadd.h50{style: 'display:none'}

  <!-- ko if: showingMap() -->
  = render 'map'
  <!-- /ko -->

  <!-- ko if: !showingMap() -->
  = render 'table'
  <!-- /ko -->

  .clear
