= render 'tabs'

- content_for :head do
  = javascript_include_tag 'memberships'

  :javascript
    $(function() { initMemberships(#{current_user.id}, #{collection.id}, #{collection_admin?}, #{collection.layers.map{|x| {id: x.id, name: x.name}}.to_json}); });

.tabsline
  .hidden-until-loaded
    Show memberships grouped by:
    %select{ko(options: :groupByOptions, value: :groupBy)}
    %br/
    %br/

  <!-- ko if: groupBy() == 'Users' -->
  .tablewrapp.hidden-until-loaded
    %table.GralTable
      %tr
        - if collection_admin?
          %th{:style => 'min-width:120px'}
        %th Name
        %th Admin?
        %th Can Read?
        %th Can Update?
        %th
      <!-- ko foreach: memberships -->
      %tr{:style => 'height:32px'}
        - if collection_admin?
          %td
        %td{ko(click: :toggleExpanded), style: 'cursor:pointer'}
          <!-- ko if: expanded() -->
          %img{src: "http://theme.instedd.org/theme/images/icons/misc/black/arrowDown.png", style: "position:relative;top:3px"}
          <!-- /ko -->
          <!-- ko if: !expanded() -->
          %img{src: "http://theme.instedd.org/theme/images/icons/misc/black/arrowRight.png", style: "position:relative;top:3px"}
          <!-- /ko -->
          %span{ko(text: :userDisplayName)}
        %td{ko(html: :adminUI)}
        %td
        %td
        %td
          - if collection_admin?
            <!-- ko if: !isCurrentUser() -->
            = ko_link_to 'delete', '$root.destroyMembership', class: 'icon fdelete black'
            <!-- /ko -->
      <!-- ko if: expanded -->
      <!-- ko foreach: membershipLayerLinks -->
      %tr{:style => 'height:32px'}
        - if collection_admin?
          %td
        %td
          %span{ko(text: 'layer.name()'), style: 'margin-left:20px'}
        %td
        <!-- ko if: !$root.admin() || membership.isCurrentUser() -->
        %td{ko(text: :canReadUI)}
        %td{ko(text: :canWriteUI)}
        <!-- /ko -->
        <!-- ko if: $root.admin() && !membership.isCurrentUser() -->
        %td
          %input{ko(checked: :canRead), type: :checkbox}
        %td
          %input{ko(checked: :canWrite), type: :checkbox}
        <!-- /ko -->
        %td
      <!-- /ko -->
      <!-- /ko -->
      <!-- /ko -->
      - if collection_admin?
        %tr{:style => 'height:32px'}
          %td
            %button.cadd#add_member Add member
          %td= text_field_tag :member_email, '', :size => 60, :placeholder => 'Search by email...'
          %td
          %td
  <!-- /ko -->

  <!-- ko if: groupBy() == 'Layers' -->
  .tablewrapp.hidden-until-loaded
    %table.GralTable
      %tr
        %th Name
        %th Can Read?
        %th Can Update?
      <!-- ko foreach: layers -->
      %tr{:style => 'height:32px'}
        %td{ko(click: :toggleExpanded), style: 'cursor:pointer'}
          <!-- ko if: expanded() -->
          %img{src: "http://theme.instedd.org/theme/images/icons/misc/black/arrowDown.png", style: "position:relative;top:3px"}
          <!-- /ko -->
          <!-- ko if: !expanded() -->
          %img{src: "http://theme.instedd.org/theme/images/icons/misc/black/arrowRight.png", style: "position:relative;top:3px"}
          <!-- /ko -->
          %span{ko(text: :name)}
        %td
        %td
      <!-- ko if: expanded -->
      <!-- ko foreach: membershipLayerLinks -->
      %tr{:style => 'height:32px'}
        %td
          %span{ko(text: 'membership.userDisplayName()'), style: 'margin-left:20px'}
        <!-- ko if: !$root.admin() || membership.isCurrentUser() -->
        %td{ko(text: :canReadUI)}
        %td{ko(text: :canWriteUI)}
        <!-- /ko -->
        <!-- ko if: $root.admin() && !membership.isCurrentUser() -->
        %td
          %input{ko(checked: :canRead), type: :checkbox}
        %td
          %input{ko(checked: :canWrite), type: :checkbox}
        <!-- /ko -->
        %td
      <!-- /ko -->
      <!-- /ko -->
      <!-- /ko -->
  <!-- /ko -->
