= render '/tabs'

- content_for :head do
  :javascript
    $(function() { initMemberships(#{current_user.id}, #{collection.id}, #{collection_admin?}, #{collection.layers.map{|x| {id: x.id, name: x.name}}.to_json}); });
  :css
    table.GralTable td.center { text-align: center; }

.tabsline
  #memberships-main.hidden-until-loaded
    %h2 Members
    %p Manage who can see this collection and who can read/write its layers
    %br/

.tablewrapp.w80.hidden-until-loaded
  %table.GralTable
    %colgroup
      %col{width: '300px'}
      %col{width: '60px'}
      %col{width: '60px'}
      %col{width: '60px'}
      %col{width: '60px'}
      %col{width: '420px'}
    %thead
      %tr
        / Setting widths 12px smaller than colgroup because there's a 12px padding added by the FixedHeaderTable plugin. The sum makes the copied version accurate
        %th.members-tree{style: '-webkit-border-radius:8px 0 0 0;-moz-border-radius:8px 0 0 0;', width:'288px'} Member → Site → Layer
        %th.members-permission{width: '48px'} None
        %th.members-permission{width: '48px'} Read
        %th.members-permission{width: '48px'} Update
        %th.members-permission{width: '48px'} Admin
        %th{width: '408px'}
    %tbody
      %tr
      %tr{ :class => :membersFirstRow }
        %td
        %td
        %td
        %td
        %td
        %td
      /ko foreach: memberships
      /ko ifnot: isCurrentUser
      %tr{ko(css: { :expandedMember => :expanded }), :class => :membersRow}
        /ko if: expanded
        = render 'collections/members/expanded_member'
        //ko

        /ko ifnot: expanded
        = render 'collections/members/collapsed_member'
        //ko
      %tr
        %td{:colspan => 6, :style => 'height:5px;border-bottom:0px;'}
      //ko
      //ko
      - if collection_admin?
        = render 'collections/members/add_member'
