= render '/tabs'

- content_for :head do
  :javascript
    $(function() { initMemberships(#{current_user.id}, #{collection.id}, #{collection_admin?}, #{collection.layers.map{|x| {id: x.id, name: x.name}}.to_json}); });
  :css
    table.GralTable td.center { text-align: center; }

.tabsline
  #memberships-main.hidden-until-loaded
    %h2 Members
    %p Manage who can see this collection and who can read/write its layers
    %br/

    Show memberships grouped by:
    %select{ko(options: :groupByOptions, value: :groupBy)}
    %br/
    %br/

    /ko if: groupBy() == 'Users'
    = render 'collections/members/grouped_by_user'
    //ko
