= render '/tabs'

- content_for :head do
  :javascript
    $(function() { initMemberships(#{current_user.id}, #{collection.id}, #{collection_admin?}, #{collection.layers.map{|x| {id: x.id, name: x.name}}.to_json}); });
  :css
    table.GralTable td.center { text-align: center; }

.tabsline
  #memberships-main.hidden-until-loaded
    %h2 Members
    %p Manage who can see this collection and who can read/write its layers
    %br/

.tablewrapp
  %table.GralTable
    %colgroup
      %col{width: '300px'}
      %col{width: '60px'}
      %col{width: '60px'}
      %col{width: '60px'}
      %col{width: '60px'}
      %col{width: '420px'}
    %tr
      %th.members-tree{style: '-webkit-border-radius:8px 0 0 0;-moz-border-radius:8px 0 0 0;'} Member &rarr; Site &rarr; Layer
      %th.members-permission None
      %th.members-permission Read
      %th.members-permission Update
      %th.members-permission Admin
      %th
    /ko foreach: memberships
    /ko if: advancedMode()
    = render 'collections/members/advanced_mode'

    /ko if: !advancedMode()
    = render 'collections/members/default_mode'
    //ko
    //ko

  - if collection_admin?
    = render 'collections/members/add_member'
