= render 'tabs'

- sites_count = collection.sites.count

.tabsline
  %h2 Status
  %div
    .sbox.grey.w30.sitesBox
      .left.sitesDescription
        .sitesCount= sites_count
        sites
      %button.csvDownload.white.right{type: "button", class: sites_count == 0 ? "disabled" : nil}
        = link_to_if sites_count > 0, 'download as csv', api_collection_path(collection, format: "csv")
    %div
      = link_to'Upload it for bulk sites updates', collection_import_wizard_path(collection), class: 'icon fexport black'
  %hr.clear/
  %h2 API access
  %p{style: 'margin:-8px 0 8px 0'}
    Access the API in
    #{link_to 'RSS', api_collection_path(collection, format: :rss), target: :_blank},
    #{link_to 'JSON', api_collection_path(collection, format: :json), target: :_blank}.
    or
    #{link_to 'CSV', api_collection_path(collection, format: :csv), target: :_blank}.
    Check the
    #{link_to 'API documentation', 'https://bitbucket.org/instedd/resource_map/wiki/REST_API', target: :_blank}
    %br/
    %br/
  - if collection_admin?
    %hr.clear/
    %h2 Delete sites
    %p Delete this collection's sites and activities but preserve layers, fields and memberships.
    = link_to "delete this collection's sites", collection_path(only_sites: true), class: 'icon fdelete black', method: :delete, confirm: "Are you sure you want to delete collection #{collection.name}'s sites?"
    %br/
    %br/
    %hr.clear/
    %h2 Delete
    %p Delete this collection. All sites, layers, fields, memberships and activities will be forever gone.
    = link_to 'delete this collection', collection, class: 'icon fdelete black', method: :delete, confirm: "Are you sure you want to delete the collection #{collection.name}?"
