:javascript
  $(function() { $('#upload').change(function() { $('#upload_form').submit() }); });

= render 'tabs'

- sites_count = collection.sites.count

.tabsline
  %h2 Status
  %div
    .sbox.grey.w30.sitesBox
      .left.sitesDescription
        .sitesCount= sites_count
        sites
      %button.csvDownload.white.right{type: "button", class: sites_count == 0 ? "disabled" : nil}
        = link_to_if sites_count > 0, 'download as csv', api_collection_path(collection, format: "csv")
    %div
      = link_to 'Download a sample CSV file', collection_csv_template_path(collection), class: 'icon fimport black'
      and fill it with the status of multiple sites
      %br/
      = link_to_function 'Upload it for bulk sites updates', "$('#upload').click()", class: 'icon fexport black'
      %form#upload_form{action: collection_upload_csv_path(collection), method: :post, enctype: 'multipart/form-data'}
        %input#upload{type: :file, name: :file, style: 'visibility:hidden'}
        %input{type: :hidden, name: 'authenticity_token', value: form_authenticity_token}
  %hr.clear/
  %h2 API access
  %p{style: 'margin:-8px 0 8px 0'}
    Access the API in
    #{link_to 'RSS', api_collection_path(collection, format: :rss), target: :_blank}
    or
    #{link_to 'JSON', api_collection_path(collection, format: :json), target: :_blank}.
  - if collection_admin?
    %hr.clear/
    %h2 Properties
    = link_to 'delete this collection', collection, class: 'icon fdelete black', method: :delete, confirm: "Are you sure you want to delete the collection #{collection.name}?"
