= render '/tabs'

- sites_count = if !current_user_snapshot.at_present? then collection.site_histories.at_date(current_user_snapshot.snapshot.date).count else collection.sites.count end

.tabsline
  %h2 Status
  %div
    .sbox.grey.w30.sitesBox
      .left.sitesDescription
        .sitesCount= sites_count
        sites
      %button.csvDownload.white.right{type: "button", |
          onclick: "window.location = '#{sites_count == 0 ? api_sample_csv_path(collection, format: 'csv') : api_collection_path(collection, format: 'csv')}'"}
        = if sites_count == 0 then 'Download sample CSV' else 'Download as CSV' end
    %div
      = link_to'Upload it for bulk sites updates', collection_import_wizard_path(collection), class: 'icon fexport black'
  %hr.clear/
  %h2 API access
  %p{style: 'margin:-8px 0 8px 0'}
    Access the API in
    #{link_to 'RSS', api_collection_path(collection, format: :rss), target: :_blank},
    #{link_to 'JSON', api_collection_path(collection, format: :json), target: :_blank},
    or
    #{link_to 'CSV', api_collection_path(collection, format: :csv), target: :_blank}.
    Check the
    #{link_to 'API documentation', 'https://bitbucket.org/instedd/resource_map/wiki/REST_API', target: :_blank}
    %br/
    %br/

  - if Settings.is_on? :snapshot
    = render 'snapshot'

  %hr.clear/

  - if collection_admin?
    .delete-collection-or-sites
      .left
        = render './confirm_box', :action_code => 'delete-collection-sites', :action_description => "Delete this collection's sites", :icon_class => 'fclose', :confirm_action_prompt => "Are you sure you want to delete this collection's sites?", :action_url => collection_path(only_sites: true)

      .left
        = render './confirm_box', :action_code => 'delete-collection', :action_description => 'Delete collection', :icon_class => 'fdelete', :confirm_action_prompt => 'Are you sure you want to delete this collection? All sites, layers, fields, memberships and activities will also be deleted.', :action_url => collection_path
