:javascript
  $(function() { $('#upload').change(function() { $('#upload_form').submit() }); });

= render '/tabs'

.tabsline
  %h2 Import wizard
  %p This wizard will guide you through importing a CSV file
  %br/

  - if (import_job && import_job.status_finished?)
    .grey
      Note: your last import to this collection was based on a file named #{import_job.original_filename}, #{time_ago_in_words(import_job.finished_at)} ago.
      %br
      %br

  - if (import_job && import_job.status_failed?)
    .grey
      Note: your last import to this collection failed, and was based on a file named #{import_job.original_filename}, #{time_ago_in_words(import_job.finished_at)} ago.
      %br
      Please contact InSTEDD for support.
      %br
      %br

  - if current_snapshot
    = render '/current_snapshot_message'
  - else
    = render 'steps', :step => 1
    %br

    %h2.orange Upload your CSV file
    .box.plain.grey{:style => 'width: 66%'}
      .black We recommend you to download the CSV, make changes to it and upload it here for doing a bulk update:
      %ul
        %li Remove rows for sites you are not interested in updating
        %li Add rows for new sites
        %li Remove columns for fields you are not interested in updating
        %li Add columns for new fields

    - if collection.sites.exists?
      = link_to 'Download a CSV with all the sites in this collection', api_collection_path(collection, format: "csv"), class: "icon fimport black"
    -else
      = link_to 'Download a template CSV file', api_sample_csv_path(collection, format: 'csv'), class: "icon fimport black"

    %form#upload_form{action: upload_csv_collection_import_wizard_path(collection), method: :post, enctype: 'multipart/form-data'}
      %input{type: :hidden, name: 'authenticity_token', value: form_authenticity_token}
      .icon.fexport.black Upload a CSV file to update multiple sites
      %input#upload{type: :file, name: :file}
