= devise_error_messages! :class => 'centered w30'
.box.centered.w30
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
    %h2 Edit Account
    %hr.shadow/
    - unless Guisso.enabled?
      .field.w30
        = f.label :current_password
        %p we need your current password to confirm your changes
        = f.password_field :current_password
      .field.w30
        = f.label :password
        %p leave blank if you don't want to change it
        = f.password_field :password, :autocomplete => "off"
      .field.w30
        = f.label :password_confirmation
        = f.password_field :password_confirmation
    .field.w30
      = f.label :phone_number
      %p (for example: 85512345678)
      = f.telephone_field :phone_number, :type => 'text'
    .actions
      %button.white{type: "submit"} Update
  - if Guisso.enabled?
    %hr/
    %p
      = link_to "Change my password", guisso_settings_path(resource_name), "target" => "_blank"
  - else
    %hr/
    %p
      Unhappy?
      =link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete
