- content_for :head do
  :javascript
    var collectionId = #{collection.id};
    $(function() { initLayers(#{layers.to_json(:include => :fields)}); });
= render 'collections/tabs'

.tabsline

  -# Layers
  <!-- ko foreach: layers -->
  .tablewrapp.w90{ko(:visible => '$data == $root.currentLayer()')}
    %p
      = label_tag :name
      %br/
      = ko_text_field_tag :name
      = ko_check_box_tag :public
      = label_tag :public, 'Public layer'
    %h3 Fields

    -# Fields
    #form-editor
      .left
        <!-- ko foreach: fields -->
        .feditor{ko(:css => '{first: $data == $parent.fields()[0], last: $data == $parent.fields()[$parent.fields().length - 1]}', :click => '$root.selectField')}
          .feditor-top
          .feditor-container
            .feditor-button
              %button{ko(:attr => "{'class': buttonClass()}", :css => "{active: $data == $root.currentField()}")}
            Name:
            %span{ko(:text => :name)}
            Code:
            %span{ko(:text => :code)}
            %button.right.fdelete{ko(:click => "$root.deleteField")}
          .feditor-bottom
        <!-- /ko -->

      .feditor-sidebar.box.right.w30{ko(:with => '$root.currentField', :visible => '$root.currentField')}
        %p
          = label_tag :name
          %br/
          = ko_text_field_tag :name
        %p
          = label_tag :code
          %br/
          = ko_text_field_tag :code

      .clear

    -# New field link
    %div
      %ul
        %li= ko_link_to 'New text field', :newTextField
        %li= ko_link_to 'New number field', :newNumberField

    %button.grey{ko(:click => '$root.saveLayer'), :type => 'submit'} Save layer
    %span{ko(:click => '$root.cancelLayer')}Cancel

  %div{ko(:visible => '$data != $root.currentLayer()')}
    %span{ko(:text => :name)}
    = ko_link_to 'edit', :editLayer
    = ko_link_to 'delete', :deleteLayer
  <!-- /ko -->

  -# New layer link
  %div{ko(:visible => '!currentLayer()')}
    = ko_link_to 'New layer', :newLayer

