%td.member{style: 'cursor:pointer;', colspan: 6}
  .memberHeaderRow
    .memberHeaderColumn
      %img.members-collapse-icon{ko(click: :toggleExpanded, attr: {src: "'#{InsteddRails.url}/theme/images/icons/misc/black/arrow' + (expanded() ? 'Down' : 'Right') + '.png'"})}
      %span{ko(click: :toggleExpanded, text: :userDisplayName)}

    - ['None', 'Read', 'Update'].each do |permission|
      .permissionColumn{ko(text: "summary#{permission}", css: "{ summaryAll: summary#{permission}() == 'All', summarySome: summary#{permission}() == 'Some' }")}

    .permissionColumn.admin
      %input{ko(checked: :admin, visible: :showAdminCheckbox), type: :checkbox}
    .lastColumn

  .defaultLayerPermissionsRow
    %hr.underlineExpandedMember
    .memberHeaderColumn
      .defaultLayerPermissionsTitle{ko(click: :toggleDefaultLayerPermissions)}
        %img.members-collapse-icon{ko(attr: {src: "defaultLayerPermissionsArrow('#{InsteddRails.url}')" })}
        %span.memberDetailsTitle
          Permissions per layer


    .permissionColumn
      %input{ko(disable: :admin, checked: "allLayersNone", :attr => { "name" => "userId" }), :value => "all", :type => 'radio'}

    .permissionColumn
      %input{ko(disable: :admin, checked: "allLayersRead", :attr => { "name" => "userId" }), :value => "all", :type => 'radio'}

    .permissionColumn
      %input{ko(disable: :admin, checked: "allLayersUpdate", :attr => { "name" => "userId" }, visible: "updateCheckboxVisible()"), :value => "all", :type => 'radio'}

    .permissionColumn.admin
    .lastColumn

  /ko if: defaultLayerPermissionsExpanded
  .layerRow
    .memberHeaderColumn Name
    .permissionColumn
      %input{ko(disable: "nameLocationDisabled()", checked: "noneNameChecked"), :value => "true", :type => 'radio'}

    .permissionColumn
      %input{ko(disable: "admin()", checked: "readNameChecked"), :value => "true", :type => 'radio'}
      #disabled-name-warning-message{ko(visible: 'nameLocationDisabled() && isAnonymous')} Name and location can be private only if every other layer is

    .permissionColumn
      %input{ko(disable: "admin()", checked: "updateNameChecked", visible: "updateCheckboxVisible()"), :value => "true", :type => 'radio'}

    .permissionColumn.admin
    .lastColumn


  .layerRow
    .memberHeaderColumn Location
    .permissionColumn
      %input{ko(disable: "nameLocationDisabled()", checked: "noneLocationChecked"), :value => "true", :type => 'radio'}

    .permissionColumn
      %input{ko(disable: "admin()", checked: "readLocationChecked"), :value => "true", :type => 'radio'}

    .permissionColumn
      %input{ko(disable: "admin()", checked: "updateLocationChecked", visible: "updateCheckboxVisible()"), :value => "true", :type => 'radio'}

    .permissionColumn.admin
    .lastColumn


  /ko foreach: layers
  .layerRow
    .memberHeaderColumn{ko(text: "layerName()")}
    .permissionColumn
      %input{ko(disable: "$parent.admin()", checked: "noneChecked"), :value => "true", :type => 'radio'}
    .permissionColumn
      %input{ko(disable: "$parent.admin()", checked: "readChecked"), :value => "true", :type => 'radio'}
    .permissionColumn
      %input{ko(disable: "$parent.admin()", checked: "updateChecked", visible: "$parent.updateCheckboxVisible()"), :value => "true", :type => 'radio'}
    .permissionColumn.admin
    .lastColumn
  //ko
  //ko

  /ko if: !isAnonymous
  .removeMemberRow
    = render './ko_confirm_box', :action_description => _('Remove this member'), :icon_class => 'fdelete', :confirm_action_prompt => _('Are you sure you want to remove this member from the collection?')
  //ko
