%td.member{style: 'cursor:pointer;', colspan: 6}
  .memberHeaderRow
    .memberHeaderColumn
      %img.members-collapse-icon{ko(click: :toggleExpanded, attr: {src: "'#{InsteddRails.url}/theme/images/icons/misc/black/arrow' + (expanded() ? 'Down' : 'Right') + '.png'"})}
      %span{ko(click: :toggleExpanded, text: :userDisplayName)}

    - ['None', 'Read', 'Update'].each do |permission|
      .permissionColumn{ko(text: "summary#{permission}", css: "{ summaryAll: summary#{permission}() == 'All', summarySome: summary#{permission}() == 'Some' }")}

    .permissionColumn.admin
      %input{ko(checked: :admin), type: :checkbox}
    .lastColumn

  .defaultLayerPermissionsRow
    .memberHeaderColumn
      %hr.underlineExpandedMember
      .defaultLayerPermissionsTitle{ko(click: :toggleDefaultLayerPermissions)}
        %img.members-collapse-icon{ko(attr: {src: "defaultLayerPermissionsArrow('#{InsteddRails.url}')" })}
        %span.memberDetailsTitle
          Default permissions for all sites

    - ['None', 'Read', 'Update'].each do |permission|
      .permissionColumn
        %hr.underlineExpandedMember
          %input{ko(disable: :admin, checked: "allLayers#{permission}", :attr => { "name" => "userId" }), :value => "all", :type => 'radio'}

    .permissionColumn.admin
      %hr.underlineExpandedMember
    .lastColumn

  /ko if: defaultLayerPermissionsExpanded
  /ko foreach: layers
  .layerRow
    .memberHeaderColumn{ko(text: "layerName()")}
    - ['None', 'Read', 'Update'].each do |permission|
      .permissionColumn
        %input{ko(disable: "$parent.admin()", checked: "#{permission.downcase}Checked"), :value => "true", :type => 'radio'}
    .permissionColumn.admin
    .lastColumn
  //ko
  //ko

  .customPermissionsTitleRow
    .memberHeaderColumn
      .frame
        .memberDetailsTitle{ko(text: 'site_permissions_title')}
    - ['None', 'Read', 'Update'].each do |permission|
      .permissionColumn
        .frame
    .permissionColumn.admin
      .frame
    .lastColumn

  /ko foreach: sitesWithCustomPermissions
  .customPermissionRow
    .memberHeaderColumn
      .frame
        .memberCustomPermissionsSiteName{ko(text: 'name')}
        %button.clist-remove.memberRemoveCustomPermissionSite{ko(click: "$parent.removeCustomPermission")}
        %hr.underlineExpandedMember{ko(visible: '$index() < $parent.sitesWithCustomPermissions().length - 1')}
    - ['None', 'Read', 'Update'].each do |permission|
      .permissionColumn
        .frame
          %input{ko(disable: "$parent.admin", checked: "#{permission.downcase}Checked"), :value => "true", :type => 'radio'}
        %hr.underlineExpandedMember{ko(visible: '$index() < $parent.sitesWithCustomPermissions().length - 1')}
    .permissionColumn.admin
      .frame
        %hr.underlineExpandedMember{ko(visible: '$index() < $parent.sitesWithCustomPermissions().length - 1')}
    .lastColumn
  //ko

  .addCustomPermissionRow{ko(attr: { "id" => "customPermissionsAutocompleteId()" })}
    .memberHeaderColumn
      .frame
        %input.autocomplete-site-input.ux-search{ ko(autocomplete: :customSite, value: :customSite, valueUpdate: :afterkeydown, source: "searchSitesUrl()", event: {keydown: :keyPress, blur: :save}), type: :text, placeholder: 'Add custom permissions for site' }
        %button.clist-add{ko(click: :createCustomPermissionForSite)}
    - ['None', 'Read', 'Update'].each do |permission|
      .permissionColumn
    .permissionColumn.admin
    .lastColumn

  .removeMemberRow
    .memberHeaderColumn
      = render './ko_confirm_box', :action_description => 'Remove this member', :icon_class => 'fdelete', :confirm_action_prompt => 'Are you sure you want to remove this member from the collection?'
