<!-- ko if: !currentCollection() && !editingSite() -->
-# Collections
.tableheader.expanded
  %div{style: 'padding-top:9px;padding-left:6px;height:29px;width:289px'} My Collections
  .mapheader.w60.right
    %button.icon_button.ffullscreen.right{ko(click: '$root.tooglefullscreen') }
    %button.icon_button.ftable.right{ko(click: '$root.showTable', css: "{active: !$root.showingMap()}")}
    %button.icon_button.fmap.right{ko(click: '$root.showMap', css: "{active: $root.showingMap()}")}
    %br{clear: "all"}
.tablescroll
  %table.GralTable.tableview
    %thead
      %tr
        %th{style: 'width:283px;padding-left:10px;'} Collection
        %th{style: 'width:100%'} Last update
        %th
    %tbody
      <!-- ko foreach: collections -->
      %tr
        %td
          %div{ko(text: :name)}
          %button.farrow{ko(click: '$root.enterCollection'), type: :button}
        %td.l.timeago{ko(attr: {title: :updatedAt}, text: :updatedAtTimeago)}
      <!-- /ko -->
.tablebottom{ko(click: '$root.createCollection'), style: 'cursor: pointer'}
  %button.cadd{type: "button"}
  %span.createCollection Create Collection
<!-- /ko -->

-# Collection sites
<!-- ko if: !editingSite() -->
<!-- ko with: currentCollection -->
.tableheader.expanded{style: 'height:34px;'}
  %div
    %button.pback{ko(click: '$root.goToRoot'), type: 'button'}
    %span
    %span{ko(text: :name)}
    %button.fconfiguration.right{ko(click: '$root.editCollection', visible: :is_admin), type: 'button', style: 'margin-right:8px;margin-top:6px;'}
  = render 'collections/index/export'
  .mapheader.right
    %button.icon_button.ffullscreen.right{ko(click: '$root.tooglefullscreen') }
    %button.icon_button.ftable.right{ko(click: '$root.showTable', css: {active: "!$root.showingMap()"})}
    %button.icon_button.fmap.right{ko(click: '$root.showMap', css: {active: "$root.showingMap()"})}
    %br{clear: "all"}
.tablescroll.expanded.sites{style:'width:100%;'}
  %table.GralTable.tableview{style: 'table-layout: fixed;'}
    %col{width: '300'}
    %col{width: '100'}
    %col{width: '100'}
    <!-- ko foreach: $root.currentCollection().fields() -->
    %col{ko(attr: { width: 'suggestedWidth()' })}
    <!-- /ko -->
    %col{width: '150'}
    %thead
      %tr
        %th{ko(click: '$root.sortByName'), style: 'cursor:pointer;overflow:hidden'}
          %span{style: 'display:inline'} Site
          <!-- ko if: $root.sort() == 'name' -->
          -# Note: the cssFloat property is used to make it work on Firefox. See the note on:
          -# https://developer.mozilla.org/en-US/docs/CSS/float
          %button{ko(style: {background: "'transparent url(#{InsteddRails.url}/theme/images/icons/misc/grey/arrow' + ($root.sortDirection() ? 'Up' : 'Down') + '.png) no-repeat scroll center'", height: "'11px'", cssFloat: "'right'", float: "'right'", borderStyle: "'none'", paddingLeft: "'17px'"})}
          <!-- /ko -->
        %th
          %span{style: 'display:inline'} Lat
        %th
          %span{style: 'display:inline'} Long
        <!-- ko foreach: $root.currentCollection().fields() -->
        %th{ko(click: '$root.sortBy', style: {maxWidth: 'suggestedWidth()', minWidth: 'suggestedWidth()'}), style: 'overflow:hidden;cursor:pointer'}
          %span{ko(text: :name), style: 'display:inline'}
          <!-- ko if: $root.sort() == esCode -->
          %button{ko(style: {background: "'transparent url(#{InsteddRails.url}/theme/images/icons/misc/grey/arrow' + ($root.sortDirection() ? 'Up' : 'Down') + '.png) no-repeat scroll center'", height: "'11px'", cssFloat: "'right'", float: "'right'", borderStyle: "'none'"})}
          <!-- /ko -->
        <!-- /ko -->
        %th{ko(click: '$root.sortByDate'), style: 'width:100%;min-width:100px;cursor:pointer'}
          %span{style: 'display:inline'} Last update
          <!-- ko if: $root.sort() == 'updated_at' -->
          %button{ko(style: {background: "'transparent url(#{InsteddRails.url}/theme/images/icons/misc/grey/arrow' + ($root.sortDirection() ? 'Up' : 'Down') + '.png) no-repeat scroll center'", height: "'11px'", cssFloat: "'right'", float: "'right'", borderStyle: "'none'"})}
          <!-- /ko -->
        %th
    %tbody
      <!-- ko if: !isSearch() && $root.groupBy().esCode != '' -->
      <!--   ko template: {name: 'table-hierarchy-items-template', with: $data} -->
      <!--   /ko -->
      <!-- /ko -->
      <!-- ko template: {name: 'table-sites-template', with: $data} -->
      <!-- /ko -->
  <!-- ko if: hasMoreSites() && !loadingSites()-->
  %span.loadmore{ko(click: :loadMoreSites), style: 'cursor:pointer;'}
    = ko_link_to "Load more sites...", :loadMoreSites
  <!-- /ko -->
  <!-- ko if: hasMoreSites() && loadingSites()-->
  %span.loadmore Loading...
  <!-- /ko -->
.tablebottom
  <!-- ko if: !currentSnapshot-->
  %button.flocation{ko(click: '$root.createSite')} Create Site
  <!-- /ko -->
<!-- /ko -->
<!-- /ko -->
