#columnUsageTemplate{ko(with: :selectedColumn), style:'display: none; height: 300px;'}
  %h2
    %span{ko(text: 'header')}
    Column Settings
  %hr
  %div
    %div
      /ko if: usage() == 'id'
      - content = "Internal ResourceMap ID"
      //ko
      /ko if: usage() != 'id'
      - if collection_admin?
        - content = 'import_wizards/adjusments/usage_options_for_admin'
      - else
        - content = 'import_wizards/adjusments/usage_options_for_non_admin'
      //ko
      = render 'import_wizards/adjusments/popup_row', :label => 'Use as:', :content => content

      %div
      /ko if: usage() == 'new_field'
      - content = 'import_wizards/adjusments/field_type_options'
      = render 'import_wizards/adjusments/popup_row', :label => 'Field Type:', :content => content
      //ko

      /ko if: usage() == 'existing_field'
      = render 'import_wizards/adjusments/popup_row', :label => 'Layer:', :content => 'import_wizards/adjusments/existing_layer_options'
      = render 'import_wizards/adjusments/popup_row', :label => 'Field:', :content => 'import_wizards/adjusments/existing_field_options'
      //ko
      /ko if: usage() == 'new_field'
      = render 'import_wizards/adjusments/popup_row', :label => 'Field Code:', :content => 'import_wizards/adjusments/new_field_code'
      = render 'import_wizards/adjusments/popup_row', :label => 'Field Name:', :content => 'import_wizards/adjusments/new_field_name'

      /ko if: kind() == 'select_one' || kind() == 'select_many'
      .box.alert
        Please select what you want to update with this input:
        %br
        - [['Option code', 'code'], ['Option label', 'label'], ['Both code and label', 'both']].each do |option|
          = radio_button_tag 'select_kind_group', option[1], false, 'data-bind' => kov(checked: 'selectKind')
          = label_tag "select_kind_group_#{option[1]}", option[0]
      //ko
      //ko
  %div{style: 'bottom:0px;position:absolute;width:100%;'}
    %hr
    %button.grey.right{ko(click: 'saveAndClose'), style: 'margin-left:10px;'}
      Apply
    %a.right{ko(click: 'discardAndClose'), style: 'margin-top:12px;'}
      Cancel


