- content_for :head do
  :javascript
    $.handleAjaxError = function(xhr) {
      if (!xhr || (xhr.status !== 0 && xhr.readyState !== 0)) {
        try {
          msg = JSON.parse(xhr.responseText).message;
        } catch (err) {
          msg = 'Unexpected error occurred, please refresh the page.'
        }
        $.status.showError(msg);
      }
    };

    $(document).ajaxError(function(event, xhr, settings, error) {
      $.handleAjaxError(xhr)
    });

- content_for :navigation do
  = section _("Home"), root_path(explicit: true), :home
  - if user_signed_in?
    = section _("Collections"), collections_path, :collections
    - if !current_user.is_guest
      = section _("Activity"), activities_path, :activities
      - if Settings.is_on? :channels
        = section _("SMS Gateways"), gateways_path, :gateways
      - if current_user.is_super_user
        = section _("Quota"), quotas_path, :quotas
  -#= section "Tour", '', :tour
  -#= section "Community", '', :community
  -#= section "Help", '', :help
- content_for :right_menu do
  %ul.RightMenu
    - if current_user && !current_user.is_guest
      %li
        #User
          = current_user.email
          %br
          %br
          .container
            %ul
              %li= link_to _('Settings'), edit_user_registration_path
            %hr/
            %ul
              %li
                %a{:href => "mailto:support@instedd.org?subject=[#{application_name.underscore}-bug]"} Report a bug
              %li= link_to "Sign out", guisso_sign_out_path_for(:user, after_sign_out_url: root_url), method: :delete
      %li
        = link_to '', edit_user_registration_path, class: 'fsettings'
    - else
      %li
        = link_to "Create account", guisso_sign_up_path_for(:user), class: 'fedit'
      %li
        = link_to "Log in", guisso_sign_in_path_for(:user), class: 'fuser'

- content_for :footer_links do
  %a{:href => root_path} Home
  %span.VersionRevision{style: "display: none;"}
    = ResourceMap::Application.config.revision
= render file: 'layouts/instedd_application'
